pandas
matplotlib
pytz
python-dotenv
chroma
unstructured
"unstructured[all-docs]"
langchain
langgraph
langchain_community
langchain-openai
langchainhub 
langchain_community
langchain-openai
langchain_groq
langchain_chroma
langchain_unstructured